<a href="https://colab.research.google.com/github/swatibhogesh/swatibhogesh/blob/main/Methods.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

LIST METHODS

In [2]:
#To make a list
fruits = ["apple", "banana", "cherry"]
print(fruits)

['apple', 'banana', 'cherry']

Append() Method

In [3]:
fruits = ['apple', 'banana', 'cherry']
fruits.append("orange")

In [5]:
print(fruits)
#The append() method appends an element to the end of the list.

['apple', 'banana', 'cherry', 'orange']

In [11]:
#To add a list to a list
a = ["apple", "banana", "cherry"]
b = ["Ford", "BMW", "Volvo"]
a.append(b)
print(a)

['apple', 'banana', 'cherry', ['Ford', 'BMW', 'Volvo']]

clear() Method

In [13]:
#Remove all elements from the fruits list:
fruits = ['apple', 'banana', 'cherry', 'orange']
fruits.clear()
print(fruits)

[]

In [15]:
print(fruits)

[]

In [16]:
fruits = ["apple", "banana", "cherry"]
print(fruits)

['apple', 'banana', 'cherry']

copy()method

In [17]:
#Copy the fruits list:
fruits = ['apple', 'banana', 'cherry', 'orange']
x = fruits.copy()

In [18]:
print(fruits)

['apple', 'banana', 'cherry', 'orange']

copy() method

In [22]:
fruits = ["apple", "banana", "cherry","pomegranate","cherry"]
print(fruits)

['apple', 'banana', 'cherry', 'pomegranate', 'cherry']

In [23]:
#Return the number of times the value "cherry" appears in the fruits list:

x = fruits.count("cherry")

In [24]:
print(x)

2

extend() method

In [25]:
#Add the elements of cars to the fruits list:

fruits = ['apple', 'banana', 'cherry']

cars = ['Ford', 'BMW', 'Volvo']

fruits.extend(cars)

In [26]:
print(fruits)

['apple', 'banana', 'cherry', 'Ford', 'BMW', 'Volvo']

In [27]:
#Add a tuple to the fruits list:

fruits = ['apple', 'banana', 'cherry']

points = (1, 4, 5, 9)

fruits.extend(points)

In [28]:
print(fruits)

['apple', 'banana', 'cherry', 1, 4, 5, 9]

index() method

In [31]:
#to find the position of the value "cherry":

fruits = ['apple', 'banana', 'cherry']
x = fruits.index("cherry")
x
#The index() method returns the position at the first occurrence of the specified value.

2

In [32]:
#To find the position of the value 32:

fruits = [4, 55, 64, 32, 16, 32]
x = fruits.index(32)
x

3

insert() method

In [33]:
#To insert the value "orange" as the second element of the fruit list:
fruits = ['apple', 'banana', 'cherry']
fruits.insert(1, "orange")
fruits

['apple', 'orange', 'banana', 'cherry']

pop() method

In [36]:
# To remove the second element of the fruit list:

fruits = ['apple', 'banana', 'cherry']
fruits.pop(1)
fruits

#The pop() method removes the element at the specified position.

['apple', 'cherry']

In [37]:
# To return the removed element:
fruits = ['apple', 'banana', 'cherry']
x = fruits.pop(1)
x

#The pop() method returns removed value.

'banana'

remove()method

In [40]:
#Remove the "banana" element of the fruit list:

fruits = ['apple', 'banana', 'cherry','banana']
fruits.remove("banana")
fruits

#The remove() method removes the first occurrence of the element with the specified value.

['apple', 'cherry', 'banana']

reverse()method

In [41]:
#To reverse the order of the fruit list:
fruits = ['apple', 'banana', 'cherry']
fruits.reverse()
fruits

['cherry', 'banana', 'apple']

sort()method

In [42]:
#Sort the list alphabetically:
cars = ['Ford', 'BMW', 'Volvo']
cars.sort()
cars

['BMW', 'Ford', 'Volvo']

In [43]:
#Sort the list descending:

cars = ['Ford', 'BMW', 'Volvo']
cars.sort(reverse=True)
cars

['Volvo', 'Ford', 'BMW']

TUPLE METHODS

In [44]:
#Create a Tuple
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [46]:
thistuple

('apple', 'banana', 'cherry')

Tuple length

In [47]:
#Print the number of items in the tuple:

thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

In [49]:
#Access Tuple
#Print the second item in the tuple:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [51]:
#Add items
#Convert the tuple into a list, add "orange", and convert it back into a tuple:

thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [52]:
#remove items from tuple
#You cannot remove items in a tuple.
#Convert the tuple into a list, remove "apple", and convert it back into a tuple:

thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)
print(thistuple)

('banana', 'cherry')

In [54]:
#delete tuple
thistuple = ("apple", "banana", "cherry")
del thistuple
#print(thistuple) 
#Its an error because now no tuple exists

In [55]:
#loop
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

In [56]:
#Print all items by referring to their index number:

thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

In [57]:
#Using While loop
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

apple
banana
cherry

In [58]:
#Join tuples
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [59]:
#To multiply tuples
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [60]:
#tuple count()
#Return the number of times the value 5 appears in the tuple:

thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.count(5)

print(x)

2

In [61]:
#index
#Search for the first occurrence of the value 8, and return its position:

thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.index(8)

print(x)

3

SETS

In [62]:
#create a set
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'cherry', 'banana'}

In [63]:
#duplicates
thisset = {"apple", "banana", "cherry"}
print(thisset)
#Duplicate values will be ignored:

{'apple', 'cherry', 'banana'}

In [64]:
#Access a item
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
cherry
banana

In [65]:
#add() method
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'apple', 'cherry', 'orange', 'banana'}

In [66]:
#update()
thisset = {"apple", "banana", "cherry"}
thatset = {"pineapple", "mango", "papaya"}

thisset.update(thatset)

print(thisset)

{'banana', 'papaya', 'pineapple', 'apple', 'cherry', 'mango'}

In [68]:
#remove()
thisset = {"apple", "banana", "cherry"}
thisset.remove("banana")
print(thisset)
 #If the item to remove does not exist, remove() will raise an error.

{'apple', 'cherry'}

In [69]:
#pop()
thisset = {"apple", "banana", "cherry"}
x = thisset.pop()
print(x)
print(thisset)

apple
{'cherry', 'banana'}

In [ ]:
#clear()
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

In [72]:
#del()
thisset = {"apple", "banana", "cherry"}

del thisset

#print(thisset)

In [73]:
#loop()
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
cherry
banana

DICTIONARY

In [74]:
#Create a dictionary:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [75]:
#access
#Get the value of the "model" key:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]

In [76]:
# duplicate values

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [77]:
# adding values

dict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
dict["color"] = "red"
print(dict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [85]:
#to update

dict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
dict.update({"color": "black"})

In [84]:
#to remove

dict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
dict.pop("model")
print(dict)

{'brand': 'Ford', 'year': 1964}

In [80]:
# clear all

dict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
dict.clear()
print(dict)

{}

In [81]:
# loops

for x in thisdict:
  print(x)

brand
model
year

In [82]:
# copy () method

thisdict = {
  "brand": "Benz",
  "model": "marsidez",
  "year": 1980
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Benz', 'model': 'marsidez', 'year': 1980}

In [83]:
# Three Dictionary

myfamily = {
  "member1" : {
    "name" : "Vadiraj",
    "year" : 1965
  },
  "member2" : {
    "name" : "Tara",
    "year" : 2010
  },
  "member3" : {
    "name" : "Lyra",
    "year" : 2011
  }
}

myfamily

{'member1': {'name': 'Vadiraj', 'year': 1965},
 'member2': {'name': 'Tara', 'year': 2010},
 'member3': {'name': 'Lyra', 'year': 2011}}