<a href="https://colab.research.google.com/github/swatibhogesh/swatibhogesh/blob/main/OOPS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Class <ClassName>
#statement

In [ ]:
class Animals:
  pass

In [ ]:
class Person:

States: Name,Gender,Profession
Behavior : Working,Studying

obj=Alex
State
ALex,Male,Doctor

Behaviour
Working

In [ ]:
class class_name
"""This is a sample class,created on 23rd sep"""
#statement1
#statement2
.
.
.
#statement3

In [9]:
#Created blueprint(Class)
class Person:
  def __init__(self, name, Gender,Profession):
    #data members of the class(instance variables)
    self.name = name
    self.Gender  = Gender
    self.Profession = Profession
    #Behaviour of class
    def show(self):
      print('Name',self.name,"Gender",self.Gender,"Profession",self.Profession)

      def work(self):
        print(self.name,"working as",self.Profession)

In [10]:
#creating an Object
p=Person('Swati','Female','Doctor')

In [11]:
p.show()

p.work()

AttributeError: ignored

In [12]:
class student:
  #class variable
  school_name="XYZ School"
  #class constructor
  def __init__(self,name,age):

    #instance variable
    self.name=name
    self.age=age

In [13]:
s1=student("Arjun",15)

In [14]:
#accessing instance variable
print("Student:",s1.name,s1.age)

Student: Arjun 15

In [15]:
#modify instance variables
s1.name="Alice"
s1.age=18

In [16]:
print("Student:",s1.name,s1.age)

Student: Alice 18

In [17]:
#Modify class varibles
#<classname><class variable name>=<value>

student.school_name = "ABC SChool"

In [20]:
print("school name:",student.school_name)

school name: ABC SChool

Write a Python class named Student with two attributes student_id, student_name. Add a new attribute student_class and display the entire attribute and their values of the said class. Now remove the student_name attribute and display the entire attribute with values.

In [6]:
class student:
  def __init__(self,student_id,student_name):

    #instance variable
    self.student_id=student_id
    self.student_name=student_name

In [7]:
s=student(20018,"Swati")

In [8]:
print("Student:",s.student_id,s.student_name)

Student: 20018 Swati

In [9]:
class student:
  def __init__(self,student_id,student_name,student_class):

    self.student_id=student_id
    self.student_name=student_name
    self.student_class=student_class

In [12]:
s=student(20018,"Swati",5)

In [13]:
print("Student ID:",s.student_id,"\nStudent Name:",s.student_name,"\nStudent Class:",s.student_class)

Student ID: 20018
Student Name: Swati
Student Class: 5

In [14]:
del s.student_name

In [15]:
print("Student ID:",s.student_id,"\nStudent Class:",s.student_class)

Student ID: 20018
Student Class: 5

2.Write a python class to implement pow(x,n)

In [78]:
class power:
  x=2
  n=-1
  z=x**n
  def pow_r(self):
    print("Pow(x,n);",self.z)
p=power()
p.pow_r()

Pow(x,n); 0.5

In [16]:
class Student:
  student_id = 230089
  student_name = 'Swati'
Student.student_class = "Five"
print(Student.student_id)
print(Student.student_name)
print(Student.student_class)
del Student.student_name
print("Student Id:",Student.student_id,"Student_class:",Student.student_class)

230089
Swati
Five
Student Id: 230089 Student_class: Five

Types of variables
1.Instance
2.Static
3.Local
4.Global

In [17]:
class student:
  #class variable
  school_name="XYZ School"
  #class constructor
  def __init__(self,name,age):

    #instance variable
    self.name=name
    self.age=age

In [18]:
t1=student("kiran",00)

In [19]:
print("Name:",t1.name,"Age:",t1.age)

Name: kiran Age: 0

In [32]:
class Account:
  def f1(self,a,b):
    self.accno=a
    self.b_name="ABC"
    self.balance=b

In [25]:
acc1=Account()

In [26]:
acc1.accno=100

In [33]:
#acc1.balance=1000
#acc1.name="swati"
acc1.b_names="XYZ"

In [34]:
print(acc1.__dict__)#dunder function

{'accno': 100, 'balance': 1000, 'name': 'swati', 'b_names': 'XYZ'}

In [36]:
#Static
#are not obkject specific
#shared variables among all the objects

In [49]:
class Employee:
  def __init__(self):  #constructor
    self.name="Kiran"
    self.company="ABC"
    self.address="UK"
    #del self.company

In [50]:
e=Employee()

In [51]:
print("Name of Employee:",e.name)
print("Name of Company:",e.company)
print("Address of the Employee:",e.address)

Name of Employee: Kiran
Name of Company: ABC
Address of the Employee: UK

In [41]:
print(e.__dict__)

{'name': 'Kiran', 'company': 'ABC', 'address': 'UK'}

In [42]:
#deleting any instance variable
del e.company

In [43]:
print(e.__dict__)

{'name': 'Kiran', 'address': 'UK'}

In [44]:
e1=Employee()

In [45]:
e1.__dict__

{'name': 'Kiran', 'company': 'ABC', 'address': 'UK'}

In [59]:
class Employee:
  company="XYZ"
  emp_id=3000
  def __init__(self):  #constructor
    self.name="Kiran"
    self.address="UK"

    @classmethod
    def PropertiesInfo(cls):
      print("Name of the Company",Employee.company)
      print("Employee ID",cls.emp_id)

In [60]:
e=Employee()

In [61]:
e.PropertiesInfo()
#Employees.propertiesInfo

AttributeError: ignored

In [63]:
class Employee:
  company='ABC' #Declaring outside of any method
  def __init__(self,name):
    Employee.location = 'India' #Declaring inside a constructor

    def showDetails(self):
      Employee.salary=10000 #Declaring inside a instance method

    @staticmethod
    def machineSerialNum():
      Employee.mach_serial_num=123 #Declaring inside a static method

In [70]:
e=Employee()

TypeError: ignored

In [71]:
e.name="Kiran"

In [72]:
e.__dict__

{'name': 'Kiran', 'address': 'UK'}