<a href="https://colab.research.google.com/github/swatibhogesh/swatibhogesh/blob/main/Practice3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Program to take three names as input from a user in the single input() function call.

In [18]:
a, b, c = input("Enter three names: ").split()

Enter three names: swati, megha, aditya

To print the following pattern using loop

In [11]:
rows = 5
for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print(j, end=' ')
    print('')

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

Program to accept a number from a user and calculate the sum of all numbers from 1 to a given number.

In [6]:
n = int(input("Enter number"))
sum = 0
for num in range(1, n + 1, 1):
    sum = sum + num
print("Sum of numbers is: ", sum)

Enter number5
Sum of numbers is:  15

To print list in reverse order using a loop

In [8]:
wordList = ['hi', 'hello', 'swati', 'megha', 'teju', 'rain']
i = len(wordList) - 1 
# Iterate till 1st element and keep on decrementing i
while i >= 0 :
    print(wordList[i]) 
    i -= 1

rain
teju
megha
swati
hello
hi

 Program to display all prime numbers within a range

In [9]:
lower = 900
upper = 1000

print("Prime numbers between", lower, "and", upper, "are:")

for num in range(lower, upper + 1):
   # all prime numbers are greater than 1
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num)

Prime numbers between 900 and 1000 are:
907
911
919
929
937
941
947
953
967
971
977
983
991
997

To find Factorial of a given number without using math module

In [10]:
#num = 7

# To take input from the user
num = int(input("Enter a number: "))

factorial = 1

# check if the number is negative, positive or zero
if num < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,num + 1):
       factorial = factorial*i
   print("The factorial of",num,"is",factorial)

Enter a number: 7
The factorial of 7 is 5040

To print the following pattern

In [12]:
rows = 5
for i in range(0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')
    print("\r")

for i in range(rows, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print("\r")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*